/*seletor{propriedades:valor;}*/

@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap');

*{margin:0; padding: 0;}

body{
    background-color: rgb(255, 255, 255);
}

header, img {
    width: 100%;
    background-color: #003A70;
}

nav {
    background-color: #003A70;
    padding: 30px;
    text-align: center;
}

a{
    color: #FFF;
    margin: 1.6em;
    font-family: "Familjen Grotesk", sans-serif;
    font-size: 1.2em;
    text-decoration: none;
}

main, section {
    padding: 80px;
}

article {
    width: 100%;
    box-sizing: border-box;
    
}

h1 {
    font-family: "Abhaya Libre", serif;
    font-size: 3rem;
    text-align: center;
    color: #C8B79D;
    margin-bottom: 0.6rem;
    
}

p {
    margin: 2em;
    font-family: "Familjen Grotesk", sans-serif;
    font-size: 1em;
    color: #101820;
    text-align: justify;
}

#pag-beneficios {
    background-color: #101820;
    
}

h2 {
    font-family: "Abhaya Libre", serif;
    font-size: 2.4rem;
    color: #C8B79D;
    margin-bottom: 0.6rem;
    
}

#pag-beneficios p {
    color: #FFF;
    font-size: 1.1rem;
}

ul {
    list-style: inside;
    margin-left: 70px;
    margin-top: 1.4em;
}

li{
    color: #FFF;
    font-family: "Familjen Grotesk", sans-serif;
    font-size: 1rem;
    margin-bottom: 0.5em;
}

#pag-caracteristicas {
    background-color: #e9e9e9
}

.container {
    display: flex;
    gap: 2em;
}

.card {
    width: 24%;
    background-color: #FFF;
    border-radius: 15px;
    box-shadow: 10px 10px 20px #777;
    text-align: center;
}

.img-card {
    border-radius: 15px 15px 0 0;   /* Arredonda os dois superiores, mas os inferiores não */
}

.card-texto {
    padding: 1em;
}

h3 {
    color: #003A70;
    font-size: 2em;
    margin-bottom: 0.5;
}

.card p {
    text-align: center;
}

.pag-estudio {
    background-color: #FFF;
}

.textos-estudio {
    width: 800px;
}

.img-contato {
    width: 30px;
    background-color: #FFF;
    margin-top: 1.5rem;
    padding: 5px;
    
}

.link-contato {
    color: #101820;
    align-items: center;
    gap: 10px;
    
}

video {
    width: 400px;
}

footer {
    background-color: #101820;
    padding: 2em;
}

footer p {
    color: #FFF;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
}


/* Página Agendamentos */

#pag-agendamentos {

}

#pag-agendamentos p {
    text-align: center;
}

form {
    width: 400px;
    margin: 0 auto;
}

input, select, textarea {
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    padding-left: 5px;
    box-sizing: border-box;
    border: 1px solid #c4c4c4;
    color: #777;
}

label, fieldset, input, textarea{
    font-family: "Familjen Grotesk", sans-serif;
}

fieldset {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

#data-hora-num {
    display: flex;
}

input[type="radio"], input[type="checkbox"] {
    width: 11px;
    height: 11px;
    margin-left: 50px;
}

textarea {
    height: 100px;
}

#botoes-form {
    display: flex;
}

input[type="submit"] {
    margin: 20px;
    background-color: #003A70;
    color: #FFF;
    border: 0;
    border-radius: 7px;
}

input[type="reset"]{
    margin: 20px;
    background-color: #e9e9e9;
    color: #003A70;
    border: 0;
    border-radius: 7px;
}